body {
    background-color:darkgray;
}



h1 {
    color:red;
    text-align:center;
    font-family:Chiller;
    font-size:60px;
}
h2 {
    color:rgb(36, 36, 27);
    text-align: center;
    font-family:Gigi;
    font-size:35px;
}
p {
    color:rgba(85, 38, 39);
    font-family:Mistral;
    font-size: 30px;
    font-weight: bold;

}
.center{
            display:block;
            margin-left:auto;
            margin-right:auto;
            width:40%;
            height: auto;
    
}
.vdo{
    width: 20;
    height: 40;
}